{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Liste des demande d'entente</h1>

    <table class="records_list">
        <thead>
        <hr><tr>
                <th>Date de demande</th>
                
                <th>Date de fin</th>
                
                <th>Réponse</th>
                
                <th>Actions</th>
                
        </tr></hr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('demandeentente_show', { 'id': entity.id }) }}">{{ entity.datedemande }}</a></td>
                <td class = "center space">{% if entity.datefin %}{{ entity.datefin }}{% endif %}</td>
                <td class = "center space">{{ entity.reponse }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('demandeentente_show', { 'id': entity.id }) }}">Montrer</a>
                    </li>
                    <li>
                        <a href="{{ path('demandeentente_edit', { 'id': entity.id }) }}">Mettre à jour</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('demandeentente_new') }}">
                Créer une nouvelle ligne
            </a>
        </li>
    </ul> 
    {% endblock %}
