{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Demande d'entente</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Numéro de dossier : </th>
                <td>{{ entity.numdossier }}</td>
            </tr>
            <tr>
                <th>Date de demande : </th>
                <td>{{ entity.datedemande }}</td>
            </tr>
            <tr>
                <th>Date de fin : </th>
                <td>{{ entity.datefin }}</td>
            </tr>
            <tr>
                <th>Réponse : </th>
                <td>{{ entity.reponse }}</td>
            </tr>
        </tbody>
    </table>
            
    <ul class="record_actions">
        
            <form action="{{ path('demandeentente')}}" method="post">
            <input type="submit" value="Retour à la liste" />
            </form>
        <br>
        
            <form action="{{ path('demandeentente_edit', { 'id': entity.id }) }}" method="post">
            <input type="submit" value="Editer" />
            </form>        
        <br>
    
        {{ form(delete_form) }}
   
    </ul>
{% endblock %}
