{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Liste des dossiers</h1>
<hr>
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date entree</th>
                <th>Motif admission</th>
                <th>Date sortie</th>
                <th>Patient</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
            <tr>
               <td class= "center space"><a href="{{ path('dossier_show', { 'id': entities.id }) }}">{{ entities.id }}</a></td>
                <td class= "center space">{% if entities.dateentree %}{{ entities.dateentree|date('Y-m-d H:i:s') }}{% endif %}</td>
               <td class= "center space">{{ entities.motifadmission }}</td>
               <td class= "center space">{% if entities.datesortie %}{{ entities.datesortie|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
               <td class= "center space">{{ entities.numpersonnepatient.nompersonne }}</td>
               <td>
                <ul>
                    <li>
                        <a href="{{ path('dossier_show', { 'id': entities.id }) }}">Montrer</a>
                    </li>
                </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('dossier') }}">
                Retour à la liste
            </a>
        </li>
    </ul>
    {% endblock %}
