{% extends '::base.html.twig' %}

{% block body -%}
<h1>Liste des personnes</h1>
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Num</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            
        {% for entity in entities %}
            <tr>
                <td class="center space"><a href="{{ path('personne_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td class="center space">{{ entity.nompersonne }}</td>
                <td class="center space">{{ entity.prenompersonne }}</td>
                <td class="center space">{{ entity.numss }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('personne_show', { 'id': entity.id }) }}">Afficher</a>
                    </li>
                    <li>
                        <a href="{{ path('personne_edit', { 'id': entity.id }) }}">Editer</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('personne_new') }}">
                Retour à la liste
            </a>
        </li>
    </ul>
    {% endblock %}
